* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

body, div, article, aside, form, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, span {
    display: flex;
}

body  {
    flex-direction: column;
}

body#mask {
    background-image: url(../images/clipboard-backgrond-mobile.svg);
    background-color: var(--red-2);
    
}

body#mask-black  {
    background-color: var(--black-3);
    
}
body#black {
    background-color: var(--black-3);
}
