:root {
    --black-0: #000000;
    --black-1: #1F2525;
    --black-2: #101D1D;
    --black-3: #070D0D;
    --black-4: #0C0B0B;
    --black-opacity-0: #1F252580;

    --gray-0: #D7D7D7;
    --gray-1: #E3E3E3;

    --orange-0: #FF760C;

    --red-0: #DD0E0E;
    --red-1: #250303;
    --red-2: #3A1C1C;
    --red-3: #921515;
    --red-4: #B43D3D;
    --red-opacity-0: #DD0E0E8A;
    --red-opacity-1: #FF525280;

    --white-0: #FFFFFF;
    --white-opacity-0: #FFFFFF47;
    --white-opacity-1: #FFFFFF1A;

    --yellow-opacity-0: #F6BC1BB3;
}